<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Class Survey</title>
    <link rel="shortcut icon" href="/images/icon-32.png" type="image/x-icon">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    {{{_sections.head}}}
</head>

<body>
    {{{_sections.body}}}
    <div class="container">
        {{!-- <header><img src="/images/icon-128.png" alt="Survey Logo"></header> --}}
        {{{body}}}
    </div>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    {{{_sections.script}}}
</body>

</html>