{{#section 'head'}}
<style>
    .navbar {
        padding: 0px 100px 0px 100px;
    }

    .modal-lg {
        max-width: 85%;
    }
</style>
{{/section}}
{{#section 'body'}}
<nav class="navbar navbar-expand-sm navbar-light bg-light shadow-sm">
    <a class="navbar-brand" href="#">
        <img src="/images/icon.svg" class="d-inline-block align-top" width="30" height="30" alt="logo">
        Class Survey
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-sm-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
        </form>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{!-- <i class="fa fa-user"></i> --}}
                <img src="/images/users.svg" class="img-fluid" width="30" height="30" alt="">
                {{fname}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">My profile</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="logout">Logout</a>
            </div>
        </div>
    </div>
</nav>
<br>
{{/section}}

<div class="border-bottom">
    <h1 class="h2 font-weight-bold">Home</h1>
</div>
<br>
<div class="row">
    <div class="col-sm-3">
        <div class="list-group">
            <a href="#" class="list-group-item active list-group-item-action d-flex justify-content-between align-items-center">
                All Surveys
                <span id="num-sur" class="badge badge-dark badge-pill">12</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Completed
                <span id="num-done" class="badge badge-success badge-pill">9</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Uncompleted
                <span id="num-not" class="badge badge-primary badge-warning badge-pill">3</span>
            </a>
        </div>
    </div>
    <div id="surveys" class="col-sm-9">
        
        <div class="modal fade" id="test-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form id="form-survey" action="#" method="POST">
                            <div id="ques">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="My opinion (Optional)" rows="5" name="comment"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-success mr-4">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{{#section 'script'}}
<script>

    function loadSurveys() {
        $.get("api/student/surveys", function(data) {
            var items = [];
            $.each(data, function(index, value) {
                items.push('<div class="card mb-3"><div class="card-body"> <h5 class="card-title" onclick="loadModalContent(this)" \
                    sid="' + value.surveyid + '"' + 'cid="' + value.id + '"' + '>');
                items.push(value.code + ' - ' + value.name);
                if(value.status) items.push(' <span class="badge badge-pill badge-success"><i class="fa fa-check"></i></span>');
                else items.push(' <span class="badge badge-pill badge-warning"><i class="fa fa-pencil"></i></span>');
                items.push('</h5>');
                items.push('<h6 class="card-subtitle my-2 text-muted">Teacher: ' + value.teacher + '</h6>');
                items.push('</div></div>');
            });
            //$("#surveys").empty();
            $("#surveys").append(items.join(""));
            $("#num-sur").html(data.length);
        });
    }

    function loadModalContent(e){
        var id = e.getAttribute("sid");
        $(".modal-title").html(e.textContent);
        $("#form-survey").attr("action", "api/survey/submit/" + e.getAttribute("cid"));
        $.get("api/survey/"+id, function(data) {
            var items = [];
            var x = 0;
            $.each(data, function(index, value) {
                index+=1;
                items.push('<div class="form-group">');
                items.push('<div class="border-bottom">\
                                <strong>' + index + '. ' + value.title + '</strong>\
                                <div class="d-flex justify-content-end">\
                                    <strong class="mx-4">1</strong>\
                                    <strong class="mx-4">2</strong>\
                                    <strong class="mx-4">3</strong>\
                                    <strong class="mx-4">4</strong>\
                                    <strong class="mx-4">5</strong>\
                                </div>\
                            </div>');
                items.push('<ul class="list-group list-group-flush">');
                $.each(value.contents, function(idx, val) {
                    items.push('<li class="list-group-item d-flex justify-content-between">' + val + '<div class="form-check-inline">\
                                        <input type="radio" value="1" required="true" class="form-check-input mx-4" name="optradio' + x + '">\
                                        <input type="radio" value="2" required="true" class="form-check-input mx-4" name="optradio' + x + '">\
                                        <input type="radio" value="3" required="true" class="form-check-input mx-4" name="optradio' + x + '">\
                                        <input type="radio" value="4" required="true" class="form-check-input mx-4" name="optradio' + x + '">\
                                        <input type="radio" value="5" required="true" class="form-check-input mx-4" name="optradio' + x + '">\
                                    </div>\
                                </li>');
                    ++x;
                });
                items.push('</ul');
                items.push('</div');
            });
            $("#ques").html(items.join(""));
            $("#test-modal").modal({show: true});
        });
    }

    $("document").ready(function() {
        loadSurveys();
    });
</script>
{{/section}}