{{#section 'head'}}
<style>
    .navbar {
        padding: 0px 100px 0px 100px;
    }
</style>
{{/section}}
{{#section 'body'}}
<nav class="navbar navbar-expand-sm navbar-light bg-light shadow-sm">
    <a class="navbar-brand" href="#">
        <img src="/images/icon.svg" class="d-inline-block align-top" width="30" height="30" alt="logo">
        Class Survey
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-sm-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
        </form>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{!-- <i class="fa fa-user"></i> --}}
                <img src="/images/users.svg" class="img-fluid" width="30" height="30" alt="">
                Hai
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">My profile</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Logout</a>
            </div>
        </div>
    </div>
</nav>
<br>
{{/section}}

<div class="border-bottom">
    <h1 class="h2 font-weight-bold">Home</h1>
</div>
<br>
<div class="row">
    <div class="col-sm-3">
        <div class="list-group">
            <a href="#" class="list-group-item active list-group-item-action d-flex justify-content-between align-items-center">
                All Surveys
                <span class="badge badge-dark badge-pill">12</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Completed
                <span class="badge badge-success badge-pill">9</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Uncompleted
                <span class="badge badge-primary badge-warning badge-pill">3</span>
            </a>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">INT3306 1 - Phat trien ung dung web
                    <span class="badge badge-pill badge-success"><i class="fa fa-check"></i></span>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Giang vien: Le Dinh Thanh</h6>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">INT3401 1 - Tri tue nhan tao
                    <span class="badge badge-pill badge-warning"><i class="fa fa-pencil"></i></span>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Giang vien: Nguyen Thi Nhat Thanh</h6>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">INT3115 - Thiet ke giao dien nguoi dung
                    <span class="badge badge-pill badge-warning"><i class="fa fa-pencil"></i></span>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Giang vien: Ngo Thi Duyen</h6>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card mb-5">
            <div class="card-header">
                <div class="h4 d-flex justify-content-center align-content-center">
                    INT3306 1 - Phat trien ung dung web
                </div>
            </div>
            <div class="card-body">
                <form action="/home" method="POST">
                    <div class="form-group">
                        <div class="border-bottom">
                            <strong>1. Co so vat chat</strong>
                            <div class="d-flex justify-content-end">
                                <strong class="mx-4">1</strong>
                                <strong class="mx-4">2</strong>
                                <strong class="mx-4">3</strong>
                                <strong class="mx-4">4</strong>
                                <strong class="mx-4">5</strong>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">Giang duong dap ung yeu cau cua
                                mon hoc
                                <div class="form-check-inline">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio">
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">Cac trang thiet bi tai giang
                                duong dap
                                ung yeu cau giang day va hoc tap
                                <div class="form-check-inline">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio">
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <div class="border-bottom">
                            <strong>2. Mon hoc</strong>
                            <div class="d-flex justify-content-end">
                                <strong class="mx-4">1</strong>
                                <strong class="mx-4">2</strong>
                                <strong class="mx-4">3</strong>
                                <strong class="mx-4">4</strong>
                                <strong class="mx-4">5</strong>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">Ban duoc ho tro kip thoi trong
                                qua trinh
                                hoc mon nay
                                <div class="form-check-inline">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio1">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio1">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio1">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio1">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio1">
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">Muc tieu cua mon hoc neu ro kien
                                thuc
                                nguoi hoc can dat duoc
                                <div class="form-check-inline">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio2">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio2">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio2">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio2">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio2">
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">Thoi luong mon hoc duoc phan
                                phoi hop ly
                                cho cac hinh thuc hoc tap
                                <div class="form-check-inline">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio3">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio3">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio3">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio3">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio3">
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">Cac tai lieu phuc vu mon hoc
                                duoc cap
                                nhat
                                <div class="form-check-inline">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio4">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio4">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio4">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio4">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio4">
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">Mon hoc gop phan trang bi kien
                                thuc ky
                                nang nghe nghiep cho ban
                                <div class="form-check-inline">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio5">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio5">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio5">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio5">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio5">
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <div class="border-bottom">
                            <strong>2. Mon hoc</strong>
                            <div class="d-flex justify-content-end">
                                <strong class="mx-4">1</strong>
                                <strong class="mx-4">2</strong>
                                <strong class="mx-4">3</strong>
                                <strong class="mx-4">4</strong>
                                <strong class="mx-4">5</strong>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">Ban duoc ho tro kip thoi trong
                                qua trinh
                                hoc mon nay
                                <div class="form-check-inline">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio1">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio1">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio1">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio1">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio1">
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">Muc tieu cua mon hoc neu ro kien
                                thuc
                                nguoi hoc can dat duoc
                                <div class="form-check-inline">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio2">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio2">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio2">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio2">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio2">
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">Thoi luong mon hoc duoc phan
                                phoi hop ly
                                cho cac hinh thuc hoc tap
                                <div class="form-check-inline">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio3">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio3">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio3">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio3">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio3">
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">Cac tai lieu phuc vu mon hoc
                                duoc cap
                                nhat
                                <div class="form-check-inline">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio4">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio4">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio4">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio4">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio4">
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">Mon hoc gop phan trang bi kien
                                thuc ky
                                nang nghe nghiep cho ban
                                <div class="form-check-inline">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio5">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio5">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio5">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio5">
                                    <input type="radio" value="1" class="form-check-input mx-4" name="optradio5">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="My opinion (Optional)" rows="5" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success mr-4">Submit</button>
                            <button type="reset" class="btn btn-info">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>