{{#section 'head'}}
<link href="/stylesheets/login.css" rel="stylesheet">
{{/section}}

<form class="form-signin text-center" id="loginform" action="/login" method="POST">
    <img class="mb-4" src="./images/icon-128.png" alt="" width="82" height="82">
    <h1 class="h3 mb-3 font-weight-normal">Welcome</h1>

    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>

    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <div class="form-group">
        <a class="small" href="#">Forgot Password?</a>
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
</form>