{{#section 'head'}}
<style>
    .navbar {
        padding: 0px 100px 0px 100px;
    }
</style>
{{/section}}
{{#section 'body'}}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow-sm">
    <a class="navbar-brand" href="#">
        <img src="/images/icon.svg" class="d-inline-block align-top" width="30" height="30" alt="logo">
        Class Survey
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-sm-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
        </form>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{!-- <i class="fa fa-user"></i> --}}
                <img src="/images/users.svg" class="img-fluid" width="30" height="30" alt="">
                Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">My profile</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="logout">Logout</a>
            </div>
        </div>
    </div>
</nav>
<br>
{{/section}}
<div class="border-bottom">
    <h1 class="h2 font-weight-bold">Dashboard</h1>
</div>
<br>
<div class="row">
    <div class="col-sm-3">
        <div class="list-group">
            <a href="#" id="students-item" onclick="activeItem('#students-item')" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                All Students
                <span id="num_stu" class="badge badge-dark badge-pill">0</span>
            </a>
            <a href="#" id="teachers-item" onclick="activeItem('#teachers-item')" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                All Teachers
                <span id="num_tea" class="badge badge-dark badge-pill">0</span>
            </a>
            <a href="#" id="surveys-item" onclick="activeItem('#surveys-item')" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                All Surveys
                <span id="num_sur" class="badge badge-dark badge-warning badge-pill">0</span>
            </a>
            <a href="#" id="templates-item" onclick="activeItem('#templates-item')" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Survey Templates
                <span id="num_temp" class="badge badge-dark badge-warning badge-pill">0</span>
            </a>
        </div>
    </div>

    <div class="col-sm-9">
        <div class="card mb-4" id="students-list">
            <div class="card-header d-flex">
                All Students
                <div class="ml-auto">
                    <!-- Button to Open the Modal -->
                    <button class="btn btn-sm btn-info" onclick="loadStudents()"><i class="fa fa-refresh"></i></button>
                    <button class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#addStudent">
                        <i class="fa fa-plus"></i>
                    </button>
                    <div class="modal fade" id="addStudent">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Add Student</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="#">
                                        <div class="form-group row">
                                            <label for="inputID" class="col-sm-2 col-form-label">ID</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputID" placeholder="12345678">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputNamet" class="col-sm-2 col-form-label">Full Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputNamet" placeholder="Nguyen Van A">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputPasswordt" class="col-sm-2 col-form-label">Password</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="inputPasswordt"
                                                    placeholder="Password">
                                            </div>
                                        </div>
                                        {{!-- <fieldset class="form-group">
                                            <div class="row">
                                                <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                                                <div class="col-sm-10">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="gridRadios"
                                                            id="gridRadios1" value="option1" checked>
                                                        <label class="form-check-label" for="gridRadios1">
                                                            First radio
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="gridRadios"
                                                            id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                            Second radio
                                                        </label>
                                                    </div>
                                                    <div class="form-check disabled">
                                                        <input class="form-check-input" type="radio" name="gridRadios"
                                                            id="gridRadios3" value="option3" disabled>
                                                        <label class="form-check-label" for="gridRadios3">
                                                            Third disabled radio
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset> --}}
                                        <div class="form-group row">
                                            <div class="col-sm-2">Checkbox</div>
                                            <div class="col-sm-10">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                                    <label class="form-check-label" for="gridCheck">
                                                        Example checkbox
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-std">
                        <i class="fa fa-upload"></i>
                        Import...
                    </button>

                    <!-- The Modal -->
                    <div class="modal fade" id="modal-std">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h5 class="modal-title">Import from excel file</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form action="/manage/upload/students" method="POST" role="form" enctype="multipart/form-data">
                                        <div class="form-group mb-3">
                                            <input type="file" class="form-control-file form-control-sm" name="excelFile">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-sm table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Class</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="students">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card mb-4" id="teachers-list">
            <div class="card-header d-flex">
                All Teachers
                <div class="ml-auto">
                    <!-- Button to Open the Modal -->
                    <button class="btn btn-sm btn-info"><i class="fa fa-refresh"></i></button>
                    <button class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#addTeacher">
                        <i class="fa fa-plus"></i>
                    </button>
                    <div class="modal fade" id="addTeacher">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Add Teacher</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="#">
                                        <div class="form-group row">
                                            <label for="inputIDt" class="col-sm-2 col-form-label">ID</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputIDt" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputName" class="col-sm-2 col-form-label">Full Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputName" placeholder="Nguyen Van A">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="inputPassword3"
                                                    placeholder="Password">
                                            </div>
                                        </div>
                                        {{!-- <fieldset class="form-group">
                                            <div class="row">
                                                <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                                                <div class="col-sm-10">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="gridRadios"
                                                            id="gridRadios1" value="option1" checked="">
                                                        <label class="form-check-label" for="gridRadios1">
                                                            First radio
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="gridRadios"
                                                            id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                            Second radio
                                                        </label>
                                                    </div>
                                                    <div class="form-check disabled">
                                                        <input class="form-check-input" type="radio" name="gridRadios"
                                                            id="gridRadios3" value="option3" disabled="">
                                                        <label class="form-check-label" for="gridRadios3">
                                                            Third disabled radio
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset> --}}
                                        <div class="form-group row">
                                            <div class="col-sm-2">Checkbox</div>
                                            <div class="col-sm-10">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                                                    <label class="form-check-label" for="gridCheck1">
                                                        Example checkbox
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-tea">
                        <i class="fa fa-upload"></i>
                        Import...
                    </button>

                    <!-- The Modal -->
                    <div class="modal fade" id="modal-tea">
                        <div class="modal-dialog" style="width: 1000px;">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h5 class="modal-title">Import from excel file</h5>
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form action="/manage/upload/teachers" method="POST" role="form" enctype="multipart/form-data">
                                        <div class="form-group mb-3">
                                            <input type="file" class="form-control-file form-control-sm" name="excelFile">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-sm table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="teachers">
                        
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card mb-4" id="surveys-list">
            <div class="card-header d-flex">
                All Surveys
                <div class="ml-auto">
                    <!-- Button to Open the Modal -->
                    <button class="btn btn-sm btn-info"><i class="fa fa-refresh"></i></button>
                    <button class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#addSurvey">
                        <i class="fa fa-plus"></i>
                    </button>
                    <div class="modal fade" id="addSurvey">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Add Survey</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="#">
                                        
                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
        
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-sur">
                        <i class="fa fa-upload"></i>
                        Import...
                    </button>
        
                    <!-- The Modal -->
                    <div class="modal fade" id="modal-sur">
                        <div class="modal-dialog" style="width: 1000px;">
                            <div class="modal-content">
        
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h5 class="modal-title">Import from excel file</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
        
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form action="/manage/upload/course" method="POST" role="form" enctype="multipart/form-data">
                                        <div class="form-group mb-3">
                                            <input type="file" class="form-control-file form-control-sm" name="excelFile">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-sm table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Teacher</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="surveys">
        
                    </tbody>
                </table>
            </div>
        </div>


        <div class="card mb-4" id="templates-list">
            <div class="card-header d-flex">
                All Survey Templates
                <div class="ml-auto">
                    <!-- Button to Open the Modal -->
                    <button class="btn btn-sm btn-info"><i class="fa fa-refresh"></i></button>
                    <button class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#addTemplate">
                        <i class="fa fa-plus"></i>
                    </button>
                    <div class="modal fade" id="addTemplate">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Add Template</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="#">
        
                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
        
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-temp">
                        <i class="fa fa-upload"></i>
                        Import...
                    </button>
        
                    <!-- The Modal -->
                    <div class="modal fade" id="modal-temp">
                        <div class="modal-dialog" style="width: 1000px;">
                            <div class="modal-content">
        
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h5 class="modal-title">Import from excel file</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
        
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form action="#" method="POST" role="form" enctype="multipart/form-data">
                                        <div class="form-group mb-3">
                                            <input type="file" class="form-control-file form-control-sm" name="excelFile">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-sm table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="templates">
        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}
<script>
    function loadStudents() {
        $("#students-item").addClass("active");
        $.get("api/students", function (data) {
            var items = [];
            $.each(data, function (index, student) {
                items.push("<tr>");
                items.push("<td>" + student.username + "</td>");
                items.push("<td>" + student.fullname + "</td>");
                items.push("<td>" + student.class + "</td>");
                items.push('<td><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></button> <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></td>');
                items.push("</tr>");
            });
            $("#students").empty();
            $("#students").append(items.join(""));
            $("#num_stu").html(data.length);
        });
    }

    function loadTeachers() {
        $.get("api/teachers", function(data) {
            var items = [];
            $.each(data, function(index, teacher) {
                items.push("<tr>");
                items.push("<td>" + teacher.username + "</td>");
                items.push("<td>" + teacher.fullname + "</td>");
                items.push("<td>" + teacher.email + "</td>");
                items.push('<td><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></button> <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></td>');
                items.push("</tr>");
            });
            $("#teachers").empty();
            $("#teachers").append(items.join(""));
            $("#num_tea").html(data.length);
        })
    }
    
    function loadSurveys() {
        $.get("api/surveys", function(data) {
            var items = [];
            $.each(data, function(index, survey) {
                items.push("<tr>");
                items.push("<td>" + survey.code + "</td>");
                items.push("<td>" + survey.name + "</td>");
                items.push("<td>" + survey.teacher + "</td>");
                items.push('<td>');
                items.push('<button type="button" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></button> ');
                items.push('<button type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></button> ');
                items.push('<button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>');
                items.push('</td>');
                items.push("</tr>");
            });
            $("#surveys").empty();
            $("#surveys").append(items.join(""));
            $("#num_sur").html(data.length);
        })
    }

    function loadTemplates() {
        $.get("api/templates", function(data) {
            var items = [];
            $.each(data, function(index, template) {
                items.push("<tr>");
                items.push("<td>" + template.name + "</td>");
                items.push('<td>');
                items.push('<button type="button" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></button> ');
                items.push('<button type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></button> ');
                items.push('<button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>');
                items.push('</td>');
                items.push("</tr>");
            });
            $("#templates").empty();
            $("#templates").append(items.join(""));
            $("#num_temp").html(data.length);
        });
    }

    function activeItem(id) {
        $(".list-group-item").removeClass("active");
        $(id).addClass("active");
        $(".card").hide();
        $(id.substr(0, id.length-4) + "list").show();
    }

    $("document").ready(function () {
        loadStudents();
        loadTeachers();
        loadSurveys();
        loadTemplates();
        activeItem("#students-item");
        $("a.list-group-item").click(function(event) {
            event.preventDefault();
        })
    });
</script>
{{/section}}